<h1 class="pt-2 pb-4">New Post</h1>

<% if @current_user %>
  <%= form_with model: @post do |form| %>
    <div class="mb-3">
      <%= form.label "title" %>
      <%= form.text_field "title" %>
    </div>
    <div class="mb-3">
      <%= form.label "description" %>
      <%= form.text_field "description" %>
    </div>
    <div class="mb-3">
      <%= form.label "posted_on" %>
      <%= form.date_field "posted_on" %>
    </div>
    <div class="mb-3">
      <%= form.label "uploaded_image", class: "form-label" %>
      <%= form.file_field "uploaded_image", accept: "image/png,image/jpg,image/jpeg", class: "form-control" %>
    </div>
    <p>
      <%= form.submit "Save Post", class: "btn btn-primary" %>
    </p>
    <%= form.hidden_field "place_id" %>
  <% end %>
<% else %>
  To Create A Post: <a class="btn btn-primary" href="/sessions/new">Login Here</a>
<% end %>