<h1 class="pt-2"><%= @place.name %></h1>

<h3 class="pt-4">My Posts</h2>

<div class="row pt-4">
  <% for post in @place.posts.where({ user_id: session[:user_id] }) %>
    <div class="col-md-4 col-sm-12 pb-2">
      <h3><%= post.title %></h3>
      <h4><%= post.posted_on %></h4>
      <p><%= post.description %></p>
    </div>
  <% end %>
</div>

<p>
  <a class="btn btn-primary" href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</p>

<p>
  <a class="btn btn-danger" href="/places">Back to All Places</a>
</p>